@using System.Web.Optimization
@using Twitter.Bootstrap.HtmlHelpers
@using Twitter.Bootstrap.HtmlHelpers.ViewModels
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
				@Styles.Render("~/content/css")
        @RenderSection("head", required: false)
        @Html.Partial("_html5shiv")
        @* favicons and touch icons go here *@
    </head>
    <body>
	    @Html.NavBar(new NavBar()
		    {
			    Brand = "Bootstrap Sample",
			    Collapsible = true,
			    Fixed = NavBarDock.Top,
					Items = new List<TbMenuTree>()
						{
							new TbMenuTree() { Text = "Home" }
						}
		    }, null)
	    <div class="container">
		    @Html.ButtonDropdowns("Operations", new List<TbMenuItem>()
			    {
				    new TbMenuItem() { Text = "Hello 1"},
						new TbMenuItem() { Text = "Hello 2"}
			    }, new {@split = true, @theme = "success"})
		    @Html.ButtonDropdowns("Operations", new List<TbMenuItem>()
			    {
				    new TbMenuItem() { Text = "Hello 1"},
						new TbMenuItem() { Text = "Hello 2"}
			    })
		    @Html.Partial("_alerts")
		    @Html.Partial("_validationSummary")
		    @RenderBody()   
		    <hr>
		    <footer>
			    <p>&copy; Company @System.DateTime.Now.ToString("yyyy")</p>
		    </footer> 
	    </div>
         @Scripts.Render("~/js")
         @RenderSection("Scripts", required: false)
    </body>
</html>

